/* -------------------------------------------------- basic HTML */

	html,body{
		width:100%;
		height:100%;
		padding:0;
		margin:0;
		border-collapse:collapse;
		border:0;
	}

	html{
	}

	body{
		-webkit-text-size-adjust: none; /* http://css-tricks.com/prevent-iphone-text-enlargement/ */
	}

/* -------------------------------------------------- fixed elements */

	#background{
		position:fixed;
		background-image: url(images/background.jpg?t);
		background-size: 100% 100%;
	}

/* -------------------------------------------------- cinema masks */

	#masque-haut,#masque-bas{
		background-color:hsla(0,0%,0%,1.0);
		position:fixed;
		top:0px;
		width:100%;
	}

	#masque-bas{
		height:1000px;
	}

/* -------------------------------------------------- four background shadows */

	#shadows{
		position:absolute;
		left:25%;
		top:33%;
		width:70%;
		height:37%;
	}

	#ombreg,#ombred,#ombreh,#ombreb{
		padding:0;
		background-color:hsla(0,100%,50%,0.5);
		position:absolute;
	}

	#ombreg, #ombred{
	}

	#ombreg{
		height:100%;
		left:0%;
		padding-left:20%;
	}

	#ombred{
		height:100%;
		right:0%;
		padding-right:20%;
	}

	#ombreh{
		width:100%;
		top:0%;
		}

	#ombreb{
		width:100%;
		bottom:0%;
	}

/* -------------------------------------------------- basic HTML */

	#contenu{
		height:100%;
	}

/* -------------------------------------------------- main square scrolling content */

	#scroller{
		width:300;
		background-color:hsla(0,100%,100%,1.0);
		position:relative;
	}

	#scroller img{
		cursor:pointer;
		width:92%;
		display:block;
		background-color:hsla(0,100%,100%,1.0);
		padding:0% 4% 4% 4%;
	}

	#scroller #accueil{
		width:100%;
		padding:0;
	}

/* -------------------------------------------------- zoom */

	#zoom{
		position:fixed;
		top:0;
		left:0;
		width:0%;
		height:100%;
		background-image:url(images/degrade.png);
		background-repeat:no-repeat;
		background-size:100%;
		text-align:center;
	}

	#zoomimg{
		background-color:hsla(0,100%,100%,1.0);
	}

	#zoomtxt{
		text-align:center;
		color:hsla(0,100%,100%,1.0);
		font:normal 0.2em/0.6em helvetica, sans-serif;
		background-image:url(images/opaque90.png);
		background-repeat:no-repeat;
		background-size:100%;
		width:27em;
		height:8em;
		position:fixed;
		top:0px;
		left:-10000px;
		padding:0.2em;

		white-space:wrap;

		-ms-transform: rotate(353deg); /* IE 9 */
		-webkit-transform: rotate(353deg); /* Chrome, Safari, Opera */
		transform: rotate(353deg);

		border:0.1em solid #666;
		outline:0.2em solid #000;
	}

	#zoomtxt h1{
		padding:0;
		margin:0;
		font:normal 1.9em/1.5em Abel,sans-serif;
	}

	#zoomtxt p{
		padding:0;
		margin:0;
		font:normal 1.1em/1.5em Helvetica,sans-serif;
	}

/* -------------------------------------------------- right-aligned block (logo, menu, contact) */

	#rightalign{
		position:fixed;
		top:0px;
		left:0px;
		width:300px;
		height:300px;
		background-color:hsla(120,100%,75%,0.3);
		text-align:right;
	}

/* -------------------------------------------------- logo */

	#logo{
		cursor:pointer;
		position:absolute;
		top:12.8%;
		left:2.0%;
		width:23.5%;
	}

/* -------------------------------------------------- menu */

	#menu{
		font:normal 0.72em/1.75em Abel, sans-serif;
		text-align:right;
		position:absolute;
		top:51.9%;
		left:14.8%;
	}

	#menu a:link,#menu a:visited{
		text-transform:uppercase;
		text-decoration:none;
		padding:0 0.2em;
		display:block;
		color:hsla(0,0%,0%,1.0);
		background:none;
	}

	#menu a:hover, #menu a:active{
		background-color:hsla(0,0%,0%,0.1);
	}

/* -------------------------------------------------- fin */
