/* -------------------------------------------------- basic HTML */

	html,body{
		width:100%;
		height:100%;
		padding:0;
		margin:0;
		border-collapse:collapse;
		border:0;
	}

	html{
	}

	body{
		-webkit-text-size-adjust: none; /* http://css-tricks.com/prevent-iphone-text-enlargement/ */
	}

/* -------------------------------------------------- fixed elements */

	#background{
		position:fixed;
		background-image: url(images/background.jpg?t);
		background-size: 100% 100%;
	}

/* -------------------------------------------------- fixed elements */

	#placement{
		position:fixed;
	}

/* -------------------------------------------------- cinema masks */

	#masque-haut,#masque-bas{
		background-color:rgba(0, 0, 0, 1.0);
		position:fixed;
		top:0px;
		width:100%;
	}

	#masque-bas{
		height:1000px;
	}

/* -------------------------------------------------- fixed elements */

	#ombreg,#ombred,#ombreh,#ombreb{
		position:absolute;
	}

	#ombreg, #ombred{
		top:32%;
		height:67%;
	}

	#ombreg{
		left:23.7%;
	}

	#ombred{
		left:94.1%;
	}

	#ombreh,#ombreb{
		width:100%;
	}

	#ombreh{
		top:44.3%;
		}

	#ombreb{
		top:77.6%
	}

/* -------------------------------------------------- logo */

	#logo{
		cursor:pointer;
		position:absolute;
		top:12.8%;
		left:2.0%;
		width:23.5%;
	}

/* -------------------------------------------------- basic HTML */

	#contenu{
		height:100%;
	}

/* -------------------------------------------------- main square scrolling content */

	#scroller{
		width:300;
		background-color:#fff;
		position:relative;
	}

	#scroller img{
		cursor:pointer;
		width:92%;
		display:block;
		background-color:#fff;
		padding:0% 4% 4% 4%;
	}

	#scroller #accueil{
		width:100%;
		padding:0;
	}

/* -------------------------------------------------- zoom */

	#zoom{
		position:fixed;
		top:0;
		left:0;
		width:0%;
		height:100%;
		background-image:url(images/degrade.png);
		background-repeat:no-repeat;
		background-size:100%;
		text-align:center;
	}

	#zoomimg{
		background-color:#fff;
	}

	#zoomtxt{
		text-align:center;
		color:#fff;
		font:normal 0.2em/0.6em helvetica, sans-serif;
		background-image:url(images/opaque90.png);
		background-repeat:no-repeat;
		background-size:100%;
		width:27em;
		height:8em;
		position:fixed;
		top:0px;
		left:-10000px;
		padding:0.2em;

		white-space:wrap;

		-ms-transform: rotate(353deg); /* IE 9 */
		-webkit-transform: rotate(353deg); /* Chrome, Safari, Opera */
		transform: rotate(353deg);

		border:0.1em solid #666;
		outline:0.2em solid #000;
	}

	#zoomtxt h1{
		padding:0;
		margin:0;
		font:normal 1.9em/1.5em Abel,sans-serif;
	}

	#zoomtxt p{
		padding:0;
		margin:0;
		font:normal 1.1em/1.5em Helvetica,sans-serif;
	}

/* -------------------------------------------------- menu */

	#menu{
		font:normal 1.0em/1.5em Abel, sans-serif;
		text-align:right;
		position:absolute;
		top:51.8%;
		left:13.7%;
	}

	#menu a:link,#menu a:visited{
		text-transform:uppercase;
		text-decoration:none;
		padding:0 0.2em;
		display:block;
		color:#000;
		background:none;
	}

	#menu a:hover, #menu a:active{
		background-color:rgba(0, 0, 0, 0.1);
	}

/* -------------------------------------------------- fin */
